<?xml version='1.0' encoding='utf-8'?>
<widget id="com.servettuncel.meslekiingilizce" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mesleki İngilizce</name>
    <description>
        İngilizce Kelime Ezberlemenin En Kolay Yolu.
    </description>
    <author email="meslekiingilizce@rawstudio.net" href="http://rawstudio.net">
        .raw studio
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
